/* ---------- PAGE BACKGROUND ---------- */
.weather-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #00D1EF, #00BCAC, #4E3BEE);
  padding: 40px 60px;
  color: white;
  font-family: "Inter", sans-serif;
}

/* ---------- HEADER ---------- */
.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.weather-title {
  font-size: 34px;
  font-weight: 700;
}

.weather-subtitle {
  font-size: 18px;
  opacity: 0.9;
  margin-top: 5px;
}

.header-right {
  display: flex;
  gap: 12px;
}

.header-btn {
  padding: 10px 18px;
  border-radius: 12px;
  border: 1px solid white;
  background: rgba(255,255,255,0.15);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.header-btn:hover {
  background: rgba(255,255,255,0.25);
}

/* ---------- SEARCH CARD ---------- */
.weather-card {
  background: white;
  color: black;
  max-width: 900px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  margin: 0 auto 50px;
}

.weather-search {
  display: flex;
  gap: 12px;
}

.weather-input {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f2f2f2;
}

.weather-btn {
  padding: 14px 22px;
  border-radius: 10px;
  background: linear-gradient(135deg, #00D1EF, #00BCAC, #4E3BEE);
  color: white;
  border: none;
  cursor: pointer;
}

.error-text {
  margin-top: 10px;
  color: red;
}

/* ---------- PLACEHOLDER ---------- */
.weather-placeholder {
  text-align: center;
  margin-top: 80px;
}

.weather-placeholder-icon {
  width: 140px;
  opacity: 0.3;
}

/* ---------- WEATHER MAIN DISPLAY ---------- */
.weather-display-card {
  background: white;
  color: black;
  max-width: 900px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.city-name {
  font-size: 26px;
  font-weight: 700;
}

.weather-expect {
  font-size: 18px;
  color: #666;
}

.weather-center-temp {
  display: flex;           
  align-items: center;    
  justify-content: center;
  gap: 10px;              
}

.weather-big-icon {
  width: 100px;            
  height: 100px;
}

.temp-info {
  display: flex;
  flex-direction: column;  
}

.temp-big {
  font-size: 48px;
  margin: 5px 0;
}

.feels-like {
  color: #444;
  margin-top: -5px;
}

/* ---------- INFO GRID ---------- */
.weather-stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-top: 25px;
}

.stat-box {
  background: #f4f7fb;
  padding: 18px;
  border-radius: 14px;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  opacity: 0.9;
}


.stat-label {
  color: #777;
  margin-bottom: 5px;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}


